# Python
__pycache__/
*.py[cod]
*.env
.env
.venv/
venv/

# Data
/data/raw/*.json
/data/raw/*.csv
# /data/processed/*.csv

# Notebooks
*.ipynb_checkpoints/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
 
# Local-only reports (do not track)
reports/

# pyenv local version file
.python-version


